.footer {
  text-align: center;
  background-color: rgba(153, 153, 153, 0.1);
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 15px;
}

.footer a {
  font-size: larger;
  color: darkgoldenrod;
  user-select: none;
}
